@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SK';
  src: local('SK'), url(./font/balgruf-font/BalgrufItalic-GOyem.ttf) format('ttf');
}

body {
  margin: 0;
  font-family: 'SK';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}